force-app/main/default/flows/Create_Investment_Idea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Relationships</name>
        <label>Set Relationships</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Investment_Idea.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Investment_Idea.Treasure_Chest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Investment_Idea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Treasure_Chest_Status</name>
        <label>Set Treasure Chest Status</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Treasure_Chest.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Investment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treasure_Chest_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Treasure_Chest_is_ready_for_investment</name>
        <label>Treasure Chest is ready for investment</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Treasure_Chest.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unconfigured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Treasure_Chest_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TTI: creates a new Investment Idea and optionally sets the related Treasure Chest to Ready for Investment.</description>
    <environments>Default</environments>
    <interviewLabel>Create Investment Idea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Investment Idea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Investment_Idea</name>
        <label>Create Investment Idea</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Configure_Investment_Idea</targetReference>
        </connector>
        <inputReference>Investment_Idea</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Investment_Idea_Record_Id</name>
        <label>Get Investment Idea Record Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Investment_Idea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Treasure_Chest.Investment_Level__c</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Treasure_Chest</name>
        <label>Get Treasure Chest</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Investment_Idea_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Investment_Idea_Configuration</name>
        <label>Complete Investment Idea Configuration</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Treasure_Chest_is_ready_for_investment</targetReference>
        </connector>
        <inputReference>Investment_Idea</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Treasure_Chest_Status</name>
        <label>Update Treasure Chest Status</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <inputReference>Get_Treasure_Chest</inputReference>
    </recordUpdates>
    <screens>
        <name>Configure_Investment_Idea</name>
        <label>Configure Investment Idea</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Investment_Idea_Configuration</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Investment_Idea.Cost__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Investment_Idea.Story_Points__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Investment_Idea.Time_Investment__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_Investment_Idea</name>
        <label>Name Investment Idea</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Relationships</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Investment_Idea.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Investment_Idea.Category__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Treasure_Chest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Investment_Idea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investment_Idea__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
