force-app/main/default/flows/Investment_Tool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Investment_Creating_Service</name>
        <label>Call Investment Creating Service</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>InvestmentCreationHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigation_Options</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>investmentIdeaId</name>
            <value>
                <elementReference>Choose_Investment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>treasureChestId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Investment_Ideas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Treasure_Chest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Investment_Idea__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Investment Tool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investment Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Navigation_Options</name>
        <label>Navigation Options</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Choose_Your_Next_Step</name>
            <fieldText>Choose Your Next Step</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Your_Next_Step_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Link_to_Investment</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!Call_Investment_Creating_Service.investmentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Navigate to new Investment&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Link_to_Portfolio</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!Call_Investment_Creating_Service.portfolioLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Navigate to Portfolio&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Link_to_Task</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!Call_Investment_Creating_Service.taskLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Navigate to new Task&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Investment_Idea</name>
        <label>Select Investment Idea</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Investment_Creating_Service</targetReference>
        </connector>
        <fields>
            <name>Choose_Investment</name>
            <choiceReferences>Investment_Ideas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which investment will you commit to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Investment_Idea</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvestmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
